[Desktop Entry]
Categories=Application;Office;GTK;GNOME;Calendar;
Comment=Small, no-nonsense Personal Organizer
Exec=miniorganizer
Icon=/usr/local/lib/miniorganizer/glade/miniorganizer-64.png
Name=MiniOrganizer
GenericName=Organizer
NoDisplay=false
OnlyShowIn=GNOME;
StartupNotify=true
Terminal=false
TryExec=miniorganizer
Type=Application
